<div id="main-div">
  <div id="title">
    <h1 id="cvs">CV System</h1>
  </div>
  <div *ngIf="isUserLoggedIn; else notLoggedUserNav">
    <nav>
      <a class="link" routerLink="offers">Offers</a>
      <a class="link" routerLink="applications">Applications</a>
    </nav>
  </div>

  <ng-template #notLoggedUserNav>
    <nav>
      <a class="link" routerLink="home">Home</a>
      <a class="link" routerLink="registration">Registration</a>
      <a class="link" routerLink="login">Login</a>
    </nav>
  </ng-template>

  <br>
  <router-outlet class="router-outlet"></router-outlet>
</div>
